<p id="notice"><%= notice %></p>

<h1><%= "#{t('messages.kind')}" %></h1>

<p>
  <strong><%= "#{t('messages.description')}"%>:</strong>
  <%= @kind.description %>
</p>

<%= link_to t('buttons.edit'), edit_kind_path(@kind) %> |
<%= link_to t('buttons.back'), kinds_path %>
